@import './modules/loading'
@import './modules/guide'
@import './modules/page1'
@import './modules/page2'
@import './modules/page3'
@import './modules/page4'
@import './modules/page5'
@import './modules/page6'
@import './modules/page7'
@import './modules/page8'
@import './modules/page9'
@import './modules/runway'
@import './modules/lizhi'
@import './modules/end'

body, html, .container
  width: 100%
  height: 100%
  overflow: hidden
  margin: 0
  padding: 0
  background: #031324

div.page.hide
  display: none

.container
	position: relative
	-webkit-transition: all 600ms ease
	&.hide
		opacity: 0

.music
	position: fixed
	right: 50px
	top: 30px
	z-index: 80
	width: 60px
	height: 69px
	background: url("../../images/music.png") 0 0 no-repeat
	&.off
		background: url("../../images/music.png") -60px 0 no-repeat

.scrollWrap
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 8265px
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transition-property: all
	-webkit-transition-timing-function: linear
	overflow: hidden
	&.toLeft
		-webkit-transform: translate3d(0,0,0) !important
	&.toRight
		-webkit-transform: translate3d(-7625px,0,0) !important

.pageWrap
	white-space: nowrap
	position: absolute
	top: 0
	bottom: 171px
	left: 0
	width: 100%
	.page
		width: 640px
		height: 100%
		position: absolute
		bottom: 0
		&.scale
			-webkit-transform: scale(.9)
			bottom: -45px
		.flag
			position: absolute
			bottom: -45px
			left: 0
			width: 100px
			height: 226px
			z-index: 25
	#page0
		.title
			width: 519px
			height: 266px
			background: url("../../images/guide_title.png") center no-repeat
			position: absolute
			left: 50%
			-webkit-transform: translateX(-50%)
			top: 160px
