.end
	&.hide
		z-index: -10
		opacity: 0
	position: absolute
	left: 0
	top: 0
	right: 0
	bottom: 0
	-webkit-transition: all 2s ease
	overflow: hidden
	.end-inner
		width: 640px
		height: 880px
		position: absolute
		left: 50%
		bottom: 170px
		margin: 0 0 0 -320px
		&.scale
			-webkit-transform: scale(.8)
	.end-wrap
		position: absolute
		left: 0
		top: 50%
		-webkit-transform: translateY(-50%)
		width: 100%
		height: 1138px
		z-index: 50
		background: url("../../images/end_bg.jpg") center bottom no-repeat
		> div
			position: absolute
		.title
			width: 437px
			height: 232px
			background: url("../../images/end_title.png") center no-repeat
			position: absolute
			top: 0
			left: 50%
			-webkit-transform: translateX(-50%)
		.lizhi
			position: absolute
			width: 190px
			height: 220px
			left: 228px
			bottom: 150px
			.lizhi-logo
				position: absolute
				top: 0
				left: 0
				z-index: 2
				width: 100%
				height: 100%
				background: url("../../images/lizhi_logo.png") center no-repeat
				background-size: 100% auto

			.lizhi-shadow
				position: absolute
				bottom: -14px
				left: 54px
				width: 183px
				height: 52px
				background: url("../../images/lizhi_shadow.png")  no-repeat
				background-size: 100% auto

		.btn-group
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: 66px
			font-size: 0
			text-align: center
			> a
				display: inline-block
				width: 243px
				height: 66px
			.left
				background: url("../../images/end_btn_left.png") center no-repeat
				margin-right: 28px
			.right
				background: url("../../images/end_btn_right.png") center no-repeat
				margin-left: 28px
				
	.download
		position: absolute
		bottom: -2px
		left: 0
		z-index: 50
		width: 100%
		height: 122px
		background: url("../../images/download.png") center no-repeat



