.guide
	position: absolute
	width: 640px
	height: 100%
	left: 0
	top: 0
	z-index: 100
	background: rgba(0,0,0,.5)
	.title
		width: 519px
		height: 266px
		background: url("../../images/guide_title.png") center no-repeat
		position: absolute
		left: 50%
		-webkit-transform: translateX(-50%)
		top: 160px
	.tip
		width: 264px
		height: 200px
		position: absolute
		bottom: 230px
		left: 50%
		-webkit-transform: translateX(-50%)
		> div
			position: absolute
		.tip-arrow
			width: 57px
			height: 25px
			top: 34px
			left: 136px
			background: url("../../images/guide_arrow.png") center no-repeat
		.tip-text
			width: 264px
			height: 65px
			background: url("../../images/guide_text.png") center no-repeat
			bottom: 0
		.tip-phone
			width: 64px
			height: 100px
			top: 0
			left: 50%
			background: url("../../images/phone.png") center no-repeat
			background-size: 64px 100px
			margin-left: -32px
	






			