.lizhi.run
	position: fixed
	width: 132px
	height: 152px
	left: 320px
	bottom: 53px
	-webkit-transform: translate3d(-50%,0,0)
	z-index: 30

	&.hide
		opacity: 0

	.lizhi-logo
		position: absolute
		top: 0
		left: 0
		z-index: 2
		width: 132px
		height: 152px
		-webkit-transform-origin: 66px 74px
		background: url("../../images/lizhi_logo.png") center no-repeat
		-webkit-transform: transalte3d(0,0,0)

	.lizhi-shadow
		position: absolute
		bottom: -8px
		left: 50%
		-webkit-transform: translateX(-48%)
		width: 130px
		height: 36px
		background: url("../../images/lizhi_shadow.png")  no-repeat