@import 'animate'
@import 'weather'

#page8
	margin-right: 300px
	left: 6685px
	> div
		position: absolute
	.title
		width: 338px 
		height: 213px
		left: 50%
		-webkit-transform: translateX(-50%)
		bottom: 610px
		background: url("../../images/page8_title.png") center no-repeat
	.page-bg
		background: url("../../images/langya_bg.png") center no-repeat
		width: 1043px
		height: 1039px
		left: 50%
		bottom: -220px
		-webkit-transform: translateX(-50%)
	.langya
		width: 636px
		height: 652px
		position: absolute
		left: 370px
		bottom: -50px
		-webkit-transform: translateX(-50%)
		.langya-body
			position: absolute
			left: 0
			top: 0
			z-index: 2
			width: 100%
			height: 100%
			background: url("../../images/langya.png") center no-repeat
		.langya-front
			position: absolute
			left: 10px
			top: 236px
			z-index: 3
			width: 170px
			height: 126px
			background: url("../../images/langya_front.png")
		.langya-back
			position: absolute
			left: 0
			top: 272px
			z-index: 1
			width: 353px 
			height: 399px
			background: url("../../images/langya_back.png")

