.runway
	position: absolute
	bottom: 0
	z-index: 10
	width: 8265px
	height: 171px
	background: url("../../images/runway_start.png"), url("../../images/runway_body.png")
	background-repeat: no-repeat, repeat-x
	background-position: 0 0, 156px 0
	-webkit-transform: translate3d(0,0,10px)
