.snowy {
    position: absolute
    left: -200px
    right: 200px
    top: 0
    bottom: 0
    z-index: 10
    -webkit-animation: snowy_snow 10s infinite linear
    background-color: #000
    background: 
        url('../../images/snow5.png') -50px 250px no-repeat
}
@-webkit-keyframes snowy_snow {
    0% {
        background: 
            url('../../images/snow5.png') -50px 250px no-repeat
    }
    25% {  
        background: 
            url('../../images/snow5.png') -50px 350px no-repeat
    }
    50% { 
        background: 
            url('../../images/snow5.png') -50px 250px no-repeat
    }
    75% {
        background: 
            url('../../images/snow5.png') -50px 250px no-repeat
    }
    100% {
        background: 
            url('../../images/snow5.png') -10px 250px no-repeat
    }
}