/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-earth1_body {
  background-image: url("../../images/earth1_body.png");
  width: 295px;
  height: 296px;
}
.icon-earth1_face {
  background-image: url("../../images/earth1_face.png");
  width: 112px;
  height: 27px;
}
.icon-earth1_left_foot {
  background-image: url("../../images/earth1_left_foot.png");
  width: 57px;
  height: 95px;
}
.icon-earth1_left_hand {
  background-image: url("../../images/earth1_left_hand.png");
  width: 72px;
  height: 85px;
}
.icon-earth1_right_foot {
  background-image: url("../../images/earth1_right_foot.png");
  width: 62px;
  height: 104px;
}
.icon-earth1_right_hand {
  background-image: url("../../images/earth1_right_hand.png");
  width: 57px;
  height: 106px;
}
.icon-earth2_body {
  background-image: url("../../images/earth2_body.png");
  width: 462px;
  height: 486px;
}
.icon-earth2_left_foot {
  background-image: url("../../images/earth2_left_foot.png");
  width: 126px;
  height: 212px;
}
.icon-earth2_right_foot {
  background-image: url("../../images/earth2_right_foot.png");
  width: 144px;
  height: 230px;
}
.icon-earth2_right_hand {
  background-image: url("../../images/earth2_right_hand.png");
  width: 268px;
  height: 159px;
}

