/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-earth1_body {
  background-image: url(../../../images/earth.png);
  background-position: -472px 0px;
  width: 295px;
  height: 296px;
}
.icon-earth1_face {
  background-image: url(../../../images/earth.png);
  background-position: -444px -496px;
  width: 112px;
  height: 27px;
}
.icon-earth1_left_foot {
  background-image: url(../../../images/earth.png);
  background-position: -777px -116px;
  width: 57px;
  height: 95px;
}
.icon-earth1_left_hand {
  background-image: url(../../../images/earth.png);
  background-position: -362px -496px;
  width: 72px;
  height: 85px;
}
.icon-earth1_right_foot {
  background-image: url(../../../images/earth.png);
  background-position: -290px -496px;
  width: 62px;
  height: 104px;
}
.icon-earth1_right_hand {
  background-image: url(../../../images/earth.png);
  background-position: -777px 0px;
  width: 57px;
  height: 106px;
}
.icon-earth2_body {
  background-image: url(../../../images/earth.png);
  background-position: 0px 0px;
  width: 462px;
  height: 486px;
}
.icon-earth2_left_foot {
  background-image: url(../../../images/earth.png);
  background-position: -154px -496px;
  width: 126px;
  height: 212px;
}
.icon-earth2_right_foot {
  background-image: url(../../../images/earth.png);
  background-position: 0px -496px;
  width: 144px;
  height: 230px;
}
.icon-earth2_right_hand {
  background-image: url(../../../images/earth.png);
  background-position: -472px -306px;
  width: 268px;
  height: 159px;
}

